[project]
	description = My first repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gxcun17
[access "refs/for/refs/*"]
	read = group user/gxcun17
	push = group user/gxcun17
	label-Code-Review = -2..+2 group user/gxcun17
	label-Verified = -1..+1 group user/gxcun17
	rebase = group user/gxcun17
	removeReviewer = group user/gxcun17
	submit = group user/gxcun17
[access "refs/heads/*"]
	read = group user/gxcun17
	create = group user/gxcun17
	push = +force group user/gxcun17
	pushMerge = group user/gxcun17
[access "refs/tags/*"]
	push = +force group user/gxcun17
	pushTag = group user/gxcun17
	pushSignedTag = group user/gxcun17
